<section class="gallery">
    {{ $images := slice }}
    {{ $allImages := .Resources.ByType "image" }}
    {{ range $image := where (.Resources.Match "thumb-*") "Params.hidden" "ne" true }}
      {{ $title := "" }}
      {{ $date := "" }}
      {{ with $image.Exif }}
        {{ $date = .Date }}
        {{ with .Tags.ImageDescription }}
          {{/* Title from EXIF ImageDescription */}}
          {{ $title = . }}
        {{ end }}
      {{ end }}
      {{ if ne $image.Title $image.Name }}
        {{/* Title from front matter */}}
        {{ $title = $image.Title }}
      {{ end }}
      {{ if $image.Params.Date }}
        {{/* Date from front matter */}}
        {{ $date = time $image.Params.Date }}
      {{ end }}
      {{ $images = $images | append (dict
        "Name" $image.Name
        "Title" $title
        "Date" $date
        "image" $image
        "Params" $image.Params
        )
      }}
    {{ end }}
    {{ $publishResources := default true .Params.build.publishResources }}
  <div id="gallery-grid">
    {{ range sort $images (.Params.sort_by | default "Name") (.Params.sort_order | default "desc") }}
      {{ $image := .image }}
      {{ $thumbnail := $image.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}
      {{ $base := replace $image.Name "thumb-" "" }}
      {{ $full := $allImages.GetMatch $base}}
      {{ $full := $full.Filter (slice images.AutoOrient (images.Process "fit 1600x1600")) }}
      {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
      <a class="gallary-item" href="{{ $full.RelPermalink }}" data-lightbox="gallery" data-title="{{ .Title }}">
       <img src="{{ $thumbnail.RelPermalink }}" alt="{{ .Title }}" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" />
      </a>
    {{ end }}
  </div>
<script src="/lightbox/lightbox.js" defer></script>
</section>
